version: "3.9"

services:
  db:
    image: postgres:16
    container_name: library_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${PUERTO_DB}:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d

  web:
    build: ./web
    container_name: library_web
    restart: always
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db

